   		<div class="jumbotron" ng-init="init()">
	        <h1>Jumbotron heading {{value}}</h1>
	        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	        <p><a class="btn btn-lg btn-success btn-space" role="button" ng-click="do()">Sign up today</a><a class="btn btn-lg btn-warning" role="button" href="#/page2">Page 2</a></p>

      	</div>

      	<h3 class="text-muted" ng-controller="VersionController">{{version}}</h3>